** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    color: #5bc0be;
    background-color: #1c2541;
}

.navbar {
    border: 1px solid #fff;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.